---
import Section from "../Section.astro"
// import Section from "@/components/Section.astro"
import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mi">
    {summary.map(elemnt=>{
        return (<p>{elemnt}</p>)
    })}
</Section>